.content-left {
    position: absolute;
    top: 26px;
    left: 26px;
    bottom: 26px;
    width: 650px;
    font-size: 22px;
    padding: 24px;
    background: url("img/left-bg.png");
    background-size: 100% 100%;
}

.content-right {
    position: absolute;
    top: 26px;
    right: 26px;
    bottom: 26px;
    background: url("img/left-bg.png");
    background-size: 100% 100%;
    width: 644px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.content-bottom {
    position: absolute;
    left: 72px;
    bottom: 0px;
    background: url("img/bottom_menu_bg.png");
    background-size: 100% 100%;
    width: 2556px;
    height: 200px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;s
}

.template {
    display: none;
}

.faultInfoList {
    width: 100%;
    height: 210px;
    overflow-y: scroll;
}

.fault-info-item {
    text-align: center;
    font-size: 20px;
    height: 30px;
}

.eventInfoList {
    height: 266px;
    overflow-y: scroll;
}

.event-info-item {
}


.number {
    background: url('img/nunber_bg.png');
    width: 37px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    font-size: 30px;
    margin-left: 4px;
}

.circle {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    border: 4px #00c8fe solid;
    line-height: 60px;
    text-align: center;
    margin: 4px;
    font-size: 16px;
}

.circleChart {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.inrow > li, .inrow span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    letter-spacing: normal;
    word-spacing: normal
}

.dataNums {
    padding: 0px;
    margin: 0px;
}

.dataNums .dataOne {
    width: 37px;
    height: 53px;
    text-align: center;
}

.dataNums .dataBoc {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.dataNums .dataBoc .tt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.dataNums .tt span {
    width: 100%;
    height: 100%;
    font: bold 37px/53px "Arial";
    color: #ffffff;
    background: url(img/nunber_bg.png) no-repeat
}