.content-left-top {
    position: absolute;
    left: 18px;
    top: 32px;
    width: 1063px;
    height: 126px;
    font-size: 22px;
    background: url("img/nav_bg.png");
    background-size: 100% 100%;
}

.content-left {
    position: absolute;
    top: 172px;
    left: 72px;
    min-width: 100px;
    min-height: 100px;
    font-size: 16px;
    text-align: center;
}

.content-left-menu {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background: rgba(29, 47, 45, 0.7);
    cursor: pointer;
}

.content-left-submenu {
    display: none;
    min-width: 100px;
    background: rgba(29, 47, 45, 0.4);
}

.content-left-submenu-item {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px #969787 solid;
    cursor: pointer;
    color: #ffffff;
}

.content-left-submenu-item:hover {
    color: #cccccc;
}

.content-left-submenu-item:nth-last-child(1) {
    border-bottom: none;
}

#submenu-1 {
    position: absolute;
    left: 100px;
    top: 10px;
}

#submenu-2 {
    position: absolute;
    left: 100px;
    top: 120px;
}

#submenu-3 {
    position: absolute;
    left: 100px;
    top: 230px;
}

#submenu-4 {
    position: absolute;
    left: 100px;
    top: 340px;
}

.content-left-menu-img {
    width: 56px;
    height: 56px;
    vertical-align: bottom;
    margin-top: 16px;
}

.content-right {
    position: absolute;
    top: 24px;
    right: 24px;
    bottom: 24px;
    background: rgba(14, 31, 44, 0.7);
    width: 990px;
    display: flex;
    flex-direction: column;
}

.content-bottom {
    position: absolute;
    left: 72px;
    bottom: -200px;
    background: url("img/bottom_menu_bg.png");
    background-size: 100% 100%;
    width: 2556px;
    height: 200px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#processList {
    height: 360px;
    overflow-y: scroll;
}

.process-item {
    height: 36px;
    font-size: 20px;
}

.process-item-line-1 {
    width: 1px;
    height: 50%;
    background: #00ffff;
    margin-left: 5px
}

.process-item-line-2 {
    width: 1px;
    height: 50%;
    background: #00ffff;
    margin-left: 5px
}

.process-item-dot {
    width: 11px;
    height: 11px;
    background: #00ffff;
    border-radius: 5px;
    position: absolute;
    top: 13px;
}

.ldbz {
    border: 1px #00ffff solid;
    border-radius: 8px;
}

.left-row .table-cell {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.left-row .lable {
    text-align: right;
    color: #66ffff;
    width: 120px;
}

.left-row .value {
    color: #ffffff;
    width: 220px;
    white-space: nowrap;
}

.right-data-row .table-cell {
    padding-top: 12px;
    padding-bottom: 12px;
}

.right-data-row .lable {
    text-align: center;
    color: #66ffff;
    width: 120px;
}

.right-data-row .value {
    text-align: center;
    color: #ffffff;
    border-bottom: 1px #8a9597 dashed;
}

.content-bottom-line {
    width: 4px;
    height: 180px;
    background: url('img/content-bottom-line.png');
    background-size: 100% 100%;
    margin-top: 10px;
}

.right-item-row:hover{
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}

.right-item-row .table-cell{
    border-top: 1px #cccccc dotted;
    padding: 10px 0px;
}